<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQxp3OV_OyjzdPgkp4uWmtSvZwcs61VcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>42204156247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capstone.gymapp</string>
	<key>PROJECT_ID</key>
	<string>capstonegymapp</string>
	<key>STORAGE_BUCKET</key>
	<string>capstonegymapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42204156247:ios:00dceff74e8052c8afae12</string>
	<key>DATABASE_URL</key>
	<string>https://capstonegymapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>